@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Shadows+Into+Light&display=swap');
@import "tailwindcss";

* {
  font-family: "Open Sans", sans-serif;
}

.font-handwriting {
  font-family: "Shadows Into Light", cursive;
}